<section id="section-skill">
    <header class="section-header">
      <h3>Mis Habilidades</h3>
    </header>
    <div class="section-body">
      <article>
        <h4>CSS</h4>
        <div class="progress">
          <div class="progress-bar" data-progress="60">
            <span>60%</span>
          </div>
        </div>
      </article>
      <article>
        <h4>CSS</h4>
        <div class="progress">
          <div class="progress-bar" data-progress="20">
            <span>60%</span>
          </div>
        </div>
      </article>
    </div>
  </section>