<section id="section-skill">

  <header class="section-header">
    <h3>Mis Habilidades</h3>
  </header>

  <div class="section-body">

    <article>

      <h4 class="text-white">CSS</h4>

      <ngb-progressbar [striped] = "true" [animated] = "true" type = "warning" height = "30px" [value]="60">
        <h4 class="text-white">60%</h4>
      </ngb-progressbar>
    </article>

    <article>

      <h4 class="text-white">CSS</h4>

      <ngb-progressbar [striped] = "true" [animated] = "true" type = "warning" height = "30px" [value]="60">
        <h4 class="text-white">60%</h4>
      </ngb-progressbar>
    </article>
  </div>
</section>