<section id="section-login">
    <dialog class="animate">
      <header class="d-flex justify-content-between">
        <h2>Accede a la edicion</h2>
        <span id="btnModalClose" class="section-login-header-btn-close">&times;</span>
      </header>
      <form class="section-login-form" method="dialog">
        <label for="userName"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="userName" required>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <button type="submit">Login</button>
      </form>
    </dialog>
  </section>