<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link navbar-border-hover text-white " aria-current="page" href="#">
        <h4>Inicio</h4>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbar-border-hover text-white" href="#section-aboutme">
        <h4>Acerca de</h4>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbar-border-hover text-white" href="#section-experience">
        <h4>Experiencia</h4>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbar-border-hover text-white" href="#section-education">
        <h4>Educación</h4>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbar-border-hover text-white" href="#section-skill">
        <h4>Habilidades</h4>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbar-border-hover text-white" href="#section-project">
        <h4>Proyectos</h4>
      </a>
    </li>
    <li class="nav-item">
      <button id="btnModalOpen" class="nav-link text-white background-item-color navbar-botton-container">
        Log In
      </button>
    </li>
  </ul>
</div>