.navbar-border-hover {
    border-top: 3px solid transparent;
    transform: translateY(-3px);
}

.navbar-border-hover:hover {
    border-top: 3px solid #ff9138;
    transform: translateY(-3px);
}

.navbar-botton-container {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

@media screen and (max-width : 751px) {
    .navbar-length {
        width: 100%;
    }

    .navbar-border-hover {
        border-top: 0;
    }

    .navbar-border-hover:hover {
        border: 3px solid #ff9138;
        transform: translateY(-3px);
    }

    .navbar-botton-container {
        border-radius: 50px;
    }

    header h4 {
        font-size: 0.8rem;
    }
}