<section id="section-project">

  <header class="section-header">
    <h3>Mis Proyectos</h3>
  </header>

  <div class="section-body">

    <article class="section-project-article d-flex flex-wrap">

      <a href="https://argentinaprograma.inti.gob.ar/" target="_blank" rel="noopener noreferrer">
        <img src=" assets/img/iconArgProSM.ico" alt="ArgentinaPrograma">
      </a>

      <ul class="section-project-text text-white">

        <li>
          <h4>Puesto:</h4>
          <p>Lorem ipsum</p>
        </li>

        <li>
          <h4>Periodo:</h4>
          <p>Lorem ipsum</p>
        </li>

        <li>
          <h4>Actividad:</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio corrupti tempora repudiandae
            reprehenderit enim! Natus provident placeat itaque aperiam voluptate repellendus esse quidem, iure
            eaque? Dignissimos tempora ut voluptatibus quo.</p>
        </li>
      </ul>
    </article>

    <article class="section-project-article d-flex flex-wrap">

      <a href="https://argentinaprograma.inti.gob.ar/" target="_blank" rel="noopener noreferrer">
        <img src=" assets/img/iconArgProSM.ico" alt="ArgentinaPrograma">
      </a>

      <ul class="section-project-text text-white">

        <li>
          <h4>Puesto:</h4>
          <p>Lorem ipsum</p>
        </li>

        <li>
          <h4>Periodo:</h4>
          <p>Lorem ipsum</p>
        </li>

        <li>
          <h4>Actividad:</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio corrupti tempora repudiandae
            reprehenderit enim! Natus provident placeat itaque aperiam voluptate repellendus esse quidem, iure
            eaque? Dignissimos tempora ut voluptatibus quo.</p>
        </li>
      </ul>
    </article>
  </div>
</section>