<!-- Modal -->
<section id="section-login">
  <dialog class="animate">
    <header class="d-flex justify-content-between">
      <h2>Accede a la edicion</h2>
      <span id="btnModalClose" class="section-login-header-btn-close">&times;</span>
    </header>
    <form class="section-login-form" method="dialog">
      <label for="userName"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="userName" required>
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
      <button type="submit">Login</button>
    </form>
  </dialog>
</section>
<!-- Header-->
<header>
  <!--Navbar-->
  <nav class="navbar navbar-expand-md fixed-top" id="navbar">
    <!-- ArgentinaProgramaImg -->
    <a class="d-block d-lg-none" href="https://argentinaprograma.inti.gob.ar/" target="_blank"
      rel="noopener noreferrer">
      <img class="header-brand-image" src=" assets/img/iconArgProSM2.png" alt="ArgentinaPrograma">
    </a>
    <a class="d-none d-lg-block" href="https://argentinaprograma.inti.gob.ar/" target="_blank"
      rel="noopener noreferrer">
      <img class="header-brand-image" src="assets/img/iconArgPro.png" alt="ArgentinaPrograma">
    </a>
    <!--Navbar Button-->
    <button class="navbar-toggler button-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--Navbar Option List-->
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav justify-content-between border-top text-center navbar-length">
        <li class="nav-item">
          <a class="nav-link navbar-border-hover text-white" href="#">
            <h4>Inicio</h4>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-border-hover text-white" href="#section-aboutme">
            <h4>Acerca de</h4>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-border-hover text-white" href="#section-experience">
            <h4>Experiencia</h4>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-border-hover text-white" href="#section-education">
            <h4>Educación</h4>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-border-hover text-white" href="#section-skill">
            <h4>Habilidades</h4>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-border-hover text-white" href="#section-project">
            <h4>Proyectos</h4>
          </a>
        </li>
        <li class="nav-item">
          <button id="btnModalOpen" class="nav-link text-white background-item-color navbar-botton-container">
            Log In
          </button>
        </li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <!-- Social-->
  <aside class="d-flex flex-column aside-container background-item-color" id="aside">
    <a href="https://www.facebook.com/fabriciodanielpereyraespeche" target="_blank" rel="noopener noreferrer">
      <img class="aside-icon" src="assets/img/iconsFacebook.svg" alt="facebook">
    </a>
    <a href="https://www.instagram.com/fabriciopereyraok" target="_blank" rel="noopener noreferrer">
      <img class="aside-icon" src="assets/img/iconsInstagram.svg" alt="instagram">
    </a>
    <a href="https://twitter.com/fabriciopereyra" target="_blank" rel="noopener noreferrer">
      <img class="aside-icon" src="assets/img/iconsTwitter.svg" alt="twitter">
    </a>
    <a href="https://github.com/fabriciopereyra" target="_blank" rel="noopener noreferrer">
      <img class="aside-icon" src="assets/img/iconsGithub.svg" alt="github">
    </a>
  </aside>
  <!-- Hero -->
  <section id="section-hero" class="section-hero-background-image">
    <header class="section-header text-end">
      <img class="section-hero-header-image" src="assets/img/profileFoto.jpeg" alt="Foto de perfil">
      <h1 class="text-white">Fabricio Daniel PEREYRA ESPECHE</h1>
      <h2 class="text-white">Full Stack Developer Jr.</h2>
    </header>
    <div class="section-header d-flex justify-content-end">
      <article>
        <a href="https://www.w3schools.com/html/default.asp" target="_blank" rel="noopener noreferrer">
          <img class="section-hero-article-stack-icon" src="assets/img/iconsHtml.svg" alt="html">
        </a>
      </article>
      <article>
        <a href="https://www.w3schools.com/Css/" target="_blank" rel="noopener noreferrer">
          <img class="section-hero-article-stack-icon" src="assets/img/iconsCss.svg" alt="css">
        </a>
      </article>
      <article>
        <a href="https://angular.io/" target="_blank" rel="noopener noreferrer">
          <img class="section-hero-article-stack-icon" src="assets/img/iconsAngularjs.svg" alt="angular">
        </a>
      </article>
      <article>
        <a href="https://www.mysql.com/" target="_blank" rel="noopener noreferrer">
          <img class="section-hero-article-stack-icon" src="assets/img/iconsMysql.svg" alt="mysql">
        </a>
      </article>
    </div>
  </section>
  <!-- AboutMe -->
  <section id="section-aboutme">
    <header class="section-header">
      <h3>Quien soy?</h3>
    </header>
    <div class="section-body">
      <article class="section-aboutme-article text-white">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, rerum. Inventore modi nulla ipsa
          reiciendis commodi veniam itaque ea dolore iusto aspernatur tempora, vero possimus nostrum quos labore qui
          natus.
          lore
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, rerum. Inventore modi nulla ipsa
          reiciendis commodi veniam itaque ea dolore iusto aspernatur tempora, vero possimus nostrum quos labore qui
          natus.
          lore
        </p>
      </article>
    </div>
  </section>
  <!-- Experience -->
  <section id="section-experience">
    <header class="section-header">
      <h3>Mi Experiencia</h3>
    </header>
    <div class="section-body">
      <article class="section-experience-article d-flex flex-wrap">
        <a href="https://argentinaprograma.inti.gob.ar/" target="_blank" rel="noopener noreferrer">
          <img src=" assets/img/iconArgProSM.ico" alt="ArgentinaPrograma">
        </a>
        <ul class="section-experience-text text-white">
          <li>
            <h4>Puesto:</h4>
            <p>Lorem ipsum</p>
          </li>
          <li>
            <h4>Periodo:</h4>
            <p>Lorem ipsum</p>
          </li>
          <li>
            <h4>Actividad:</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio corrupti tempora repudiandae
              reprehenderit enim! Natus provident placeat itaque aperiam voluptate repellendus esse quidem, iure
              eaque? Dignissimos tempora ut voluptatibus quo.</p>
          </li>
        </ul>
      </article>
      <article class="section-experience-article d-flex flex-wrap">
        <a href="https://argentinaprograma.inti.gob.ar/" target="_blank" rel="noopener noreferrer">
          <img src=" assets/img/iconArgProSM.ico" alt="ArgentinaPrograma">
        </a>
        <ul class="section-experience-text text-white">
          <li>
            <h4>Puesto:</h4>
            <p>Lorem ipsum</p>
          </li>
          <li>
            <h4>Periodo:</h4>
            <p>Lorem ipsum</p>
          </li>
          <li>
            <h4>Actividad:</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio corrupti tempora repudiandae
              reprehenderit enim! Natus provident placeat itaque aperiam voluptate repellendus esse quidem, iure
              eaque? Dignissimos tempora ut voluptatibus quo.</p>
          </li>
        </ul>
      </article>
    </div>
  </section>
  <!-- Education -->
  <section id="section-education">
    <header class="section-header">
      <h3>Mi Educación</h3>
    </header>
    <div class="section-body">
      <article class="section-education-article d-flex flex-wrap">
        <a href="https://argentinaprograma.inti.gob.ar/" target="_blank" rel="noopener noreferrer">
          <img src=" assets/img/iconArgProSM.ico" alt="ArgentinaPrograma">
        </a>
        <ul class="section-education-text text-white">
          <li>
            <h4>Puesto:</h4>
            <p>Lorem ipsum</p>
          </li>
          <li>
            <h4>Periodo:</h4>
            <p>Lorem ipsum</p>
          </li>
          <li>
            <h4>Actividad:</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio corrupti tempora repudiandae
              reprehenderit enim! Natus provident placeat itaque aperiam voluptate repellendus esse quidem, iure
              eaque? Dignissimos tempora ut voluptatibus quo.</p>
          </li>
        </ul>
      </article>
      <article class="section-education-article d-flex flex-wrap">
        <a href="https://argentinaprograma.inti.gob.ar/" target="_blank" rel="noopener noreferrer">
          <img src=" assets/img/iconArgProSM.ico" alt="ArgentinaPrograma">
        </a>
        <ul class="section-education-text text-white">
          <li>
            <h4>Puesto:</h4>
            <p>Lorem ipsum</p>
          </li>
          <li>
            <h4>Periodo:</h4>
            <p>Lorem ipsum</p>
          </li>
          <li>
            <h4>Actividad:</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio corrupti tempora repudiandae
              reprehenderit enim! Natus provident placeat itaque aperiam voluptate repellendus esse quidem, iure
              eaque? Dignissimos tempora ut voluptatibus quo.</p>
          </li>
        </ul>
      </article>
    </div>
  </section>
  <!-- Skill -->
  <section id="section-skill">
    <header class="section-header">
      <h3>Mis Habilidades</h3>
    </header>
    <div class="section-body">
      <article>
        <h4>CSS</h4>
        <div class="progress">
          <div class="progress-bar" data-progress="60">
            <span>60%</span>
          </div>
        </div>
      </article>
      <article>
        <h4>CSS</h4>
        <div class="progress">
          <div class="progress-bar" data-progress="20">
            <span>60%</span>
          </div>
        </div>
      </article>
    </div>
  </section>
  <!-- Project -->
  <section id="section-project">
    <header class="section-header">
      <h3>Mis Proyectos</h3>
    </header>
    <div class="section-body">
      <article class="section-project-article d-flex flex-wrap">
        <a href="https://argentinaprograma.inti.gob.ar/" target="_blank" rel="noopener noreferrer">
          <img src=" assets/img/iconArgProSM.ico" alt="ArgentinaPrograma">
        </a>
        <ul class="section-project-text text-white">
          <li>
            <h4>Puesto:</h4>
            <p>Lorem ipsum</p>
          </li>
          <li>
            <h4>Periodo:</h4>
            <p>Lorem ipsum</p>
          </li>
          <li>
            <h4>Actividad:</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio corrupti tempora repudiandae
              reprehenderit enim! Natus provident placeat itaque aperiam voluptate repellendus esse quidem, iure
              eaque? Dignissimos tempora ut voluptatibus quo.</p>
          </li>
        </ul>
      </article>
      <article class="section-project-article d-flex flex-wrap">
        <a href="https://argentinaprograma.inti.gob.ar/" target="_blank" rel="noopener noreferrer">
          <img src=" assets/img/iconArgProSM.ico" alt="ArgentinaPrograma">
        </a>
        <ul class="section-project-text text-white">
          <li>
            <h4>Puesto:</h4>
            <p>Lorem ipsum</p>
          </li>
          <li>
            <h4>Periodo:</h4>
            <p>Lorem ipsum</p>
          </li>
          <li>
            <h4>Actividad:</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio corrupti tempora repudiandae
              reprehenderit enim! Natus provident placeat itaque aperiam voluptate repellendus esse quidem, iure
              eaque? Dignissimos tempora ut voluptatibus quo.</p>
          </li>
        </ul>
      </article>
    </div>
  </section>
</main>