<section id="section-aboutme">
  
  <header class="section-header">
    <h3>Quien soy?</h3>
  </header>
  
  <div class="section-body">
  
    <article class="section-aboutme-article text-white">
  
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, rerum. Inventore modi nulla ipsa
        reiciendis commodi veniam itaque ea dolore iusto aspernatur tempora, vero possimus nostrum quos labore qui
        natus.
        lore
      </p>
  
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, rerum. Inventore modi nulla ipsa
        reiciendis commodi veniam itaque ea dolore iusto aspernatur tempora, vero possimus nostrum quos labore qui
        natus.
        lore
      </p>
    </article>
  </div>
</section>